[submodule "mutable-instruments/eurorack"]
	path = mutable-eurorack
	url = https://github.com/pichenettes/eurorack.git
	branch = master
[submodule "schollz/pikocore"]
	path = pikocore
	url = https://github.com/schollz/pikocore.git
	branch = main
[submodule "odevices/er-301/develop"]
	path = er-301-develop
	url = https://github.com/odevices/er-301.git
	branch = develop
[submodule "wntrblm/castor-and-pollux"]
	path = castor-and-pollux
	url = https://github.com/wntrblm/Castor_and_Pollux.git
	branch = main
[submodule "monome/teletype"]
	path = monome-teletype
	url = https://github.com/monome/teletype.git
	branch = main
[submodule "monome/ansible"]
	path = monome-ansible
	url = https://github.com/monome/ansible
	branch = main
[submodule "monome/crow"]
	path = monome-crow
	url = https://github.com/monome/crow.git
	branch = main
[submodule "dewb/monome-rack"]
	path = monome-rack
	url = https://github.com/Dewb/monome-rack.git
	branch = main
[submodule "djphazer/o_c-benisphere-suite"]
	path = phazerville-suite
	url = https://github.com/djphazer/O_C-BenisphereSuite.git
	branch = phazerville
[submodule "bpcmusic/telex"]
	path = telex
	url = https://github.com/bpcmusic/telex.git
	branch = master
[submodule "allen-synthesis/europi"]
	path = europi
	url = https://github.com/Allen-Synthesis/EuroPi.git
	branch = main
[submodule "bastl-instruments/kompas"]
	path = kompas
	url = https://github.com/bastl-instruments/kompas.git
	branch = master
[submodule "venus-instruments/veno-echo"]
	path = veno-echo
	url = https://github.com/AdamFulford/Veno-Echo.git
	branch = main
[submodule "mhetrick/nonlinearcircuits"]
	path = mhetrick-nonlinearcircuits-vcvrack
	url = https://github.com/mhetrick/nonlinearcircuits.git
	branch = master
[submodule "then-try-this/samplebrain"]
	path = aphex-samplebrain
	url = https://gitlab.com/then-try-this/samplebrain.git
	branch = production
[submodule "composingcap/grainflow"]
	path = grainflow
	url = https://github.com/composingcap/grainflow.git
	branch = master
[submodule "asb2m10/dexed"]
	path = dexed
	url = https://github.com/asb2m10/dexed.git
	branch = master
[submodule "monome/norns"]
	path = monome-norns
	url = https://github.com/monome/norns.git
	branch = main
[submodule "ableton/link"]
	path = ableton-link
	url = https://github.com/Ableton/link.git
	branch = master
[submodule "supercollider/develop"]
	path = supercollider
	url = https://github.com/supercollider/supercollider.git
	branch = develop
[submodule "deezer/spleeter"]
	path = spleeter
	url = https://github.com/deezer/spleeter.git
	branch = master
[submodule "deezer/spleeter4max"]
	path = spleeter4max
	url = https://github.com/diracdeltas/spleeter4max
	branch = master
[submodule "vastdynamics/vaporizer2"]
	path = vaporizer2
	url = https://github.com/VASTDynamics/Vaporizer2.git
	branch = main
[submodule "midilab/uclock"]
	path = uclock
	url = https://github.com/midilab/uClock
	branch = main
[submodule "rupa/cuecat"]
	path = cuecat
	url = https://github.com/rupa/cuecat.git
	branch = main
[submodule "hirnlego/repetita-versio"]
	path = repetita-versio
	url = https://github.com/hirnlego/repetita-versio.git
	branch = master
[submodule "sixolet/phonotype"]
	path = phonotype
	url = https://github.com/sixolet/phonotype.git
	branch = main
[submodule "sensorium/mozzi"]
	path = mozzi
	url = https://github.com/sensorium/Mozzi.git
	branch = master
[submodule "v7b1/mi-ugens"]
	path = mi-ugens
	url = https://github.com/v7b1/mi-UGens.git
	branch = main
[submodule "m4ngu/sweet-sixteen"]
	path = sweet-sixteen
	url = https://github.com/M4ngu/Sweet-Sixteen.git
	branch = master
[submodule "monome/bowery"]
	path = monome-bowery
	url = https://github.com/monome/bowery.git
	branch = main
[submodule "theslowgrowth/monomearcclone"]
	path = monome-arc-clone
	url = https://github.com/TheSlowGrowth/MonomeArcClone.git
	branch = master
[submodule "midilab/aciduino"]
	path = aciduino
	url = https://github.com/midilab/aciduino.git
	branch = master
