[submodule "mutable-instruments/eurorack"]
	path = mutable-eurorack
	url = https://github.com/pichenettes/eurorack.git
	branch = master
[submodule "schollz/pikocore"]
	path = pikocore
	url = https://github.com/schollz/pikocore.git
	branch = main
[submodule "odevices/er-301/develop"]
	path = er-301-develop
	url = https://github.com/odevices/er-301.git
	branch = develop
[submodule "wntrblm/castor-and-pollux"]
	path = castor-and-pollux
	url = https://github.com/wntrblm/Castor_and_Pollux.git
	branch = main
[submodule "monome/teletype"]
	path = monome-teletype
	url = https://github.com/monome/teletype.git
	branch = main
[submodule "monome/ansible"]
	path = monome-ansible
	url = https://github.com/monome/ansible
	branch = main
[submodule "monome/crow"]
	path = monome-crow
	url = https://github.com/monome/crow.git
	branch = main
[submodule "dewb/monome-rack"]
	path = monome-rack
	url = https://github.com/Dewb/monome-rack.git
	branch = main
[submodule "djphazer/o_c-benisphere-suite"]
	path = phazerville-suite
	url = https://github.com/djphazer/O_C-BenisphereSuite.git
	branch = phazerville
[submodule "bpcmusic/telex"]
	path = telex
	url = https://github.com/bpcmusic/telex.git
	branch = master
[submodule "allen-synthesis/europi"]
	path = europi
	url = https://github.com/Allen-Synthesis/EuroPi.git
	branch = main
[submodule "bastl-instruments/kompas"]
	path = kompas
	url = https://github.com/bastl-instruments/kompas.git
	branch = master
[submodule "venus-instruments/veno-echo"]
	path = veno-echo
	url = https://github.com/AdamFulford/Veno-Echo.git
	branch = main
[submodule "mhetrick/nonlinearcircuits"]
	path = mhetrick-nonlinearcircuits-vcvrack
	url = https://github.com/mhetrick/nonlinearcircuits.git
	branch = master
[submodule "then-try-this/samplebrain"]
	path = aphex-samplebrain
	url = https://gitlab.com/then-try-this/samplebrain.git
	branch = production
[submodule "composingcap/grainflow"]
	path = grainflow
	url = https://github.com/composingcap/grainflow.git
	branch = master
[submodule "asb2m10/dexed"]
	path = dexed
	url = https://github.com/asb2m10/dexed.git
	branch = master
[submodule "monome/norns"]
	path = monome-norns
	url = https://github.com/monome/norns.git
	branch = main
[submodule "ableton/link"]
	path = ableton-link
	url = https://github.com/Ableton/link.git
	branch = master
[submodule "supercollider/develop"]
	path = supercollider
	url = https://github.com/supercollider/supercollider.git
	branch = develop
[submodule "deezer/spleeter"]
	path = spleeter
	url = https://github.com/deezer/spleeter.git
	branch = master
[submodule "deezer/spleeter4max"]
	path = spleeter4max
	url = https://github.com/diracdeltas/spleeter4max
	branch = master
[submodule "vastdynamics/vaporizer2"]
	path = vaporizer2
	url = https://github.com/VASTDynamics/Vaporizer2.git
	branch = main
[submodule "midilab/uclock"]
	path = uclock
	url = https://github.com/midilab/uClock
	branch = main
[submodule "rupa/cuecat"]
	path = cuecat
	url = https://github.com/rupa/cuecat.git
	branch = main
[submodule "hirnlego/repetita-versio"]
	path = repetita-versio
	url = https://github.com/hirnlego/repetita-versio.git
	branch = master
[submodule "sixolet/phonotype"]
	path = phonotype
	url = https://github.com/sixolet/phonotype.git
	branch = main
[submodule "sensorium/mozzi"]
	path = mozzi
	url = https://github.com/sensorium/Mozzi.git
	branch = master
[submodule "v7b1/mi-ugens"]
	path = mi-ugens
	url = https://github.com/v7b1/mi-UGens.git
	branch = main
[submodule "m4ngu/sweet-sixteen"]
	path = sweet-sixteen
	url = https://github.com/M4ngu/Sweet-Sixteen.git
	branch = master
[submodule "monome/bowery"]
	path = monome-bowery
	url = https://github.com/monome/bowery.git
	branch = main
[submodule "theslowgrowth/monomearcclone"]
	path = monome-arc-clone
	url = https://github.com/TheSlowGrowth/MonomeArcClone.git
	branch = master
[submodule "midilab/aciduino"]
	path = aciduino
	url = https://github.com/midilab/aciduino.git
	branch = master
[submodule "electro-smith/daisyexamples"]
	path = daisy-examples
	url = https://github.com/electro-smith/DaisyExamples.git
	branch = master
[submodule "electro-smith/daisysp"]
	path = daisysp
	url = https://github.com/electro-smith/DaisySP.git
	branch = master
[submodule "electrosmith/libdaisy"]
	path = libdaisy
	url = https://github.com/electro-smith/libDaisy
	branch = master
[submodule "electro-smith/oopsy"]
	path = oopsy
	url = https://github.com/electro-smith/oopsy.git
	branch = main
[submodule "bastl-instruments/kastle"]
	path = kastle
	url = https://github.com/bastl-instruments/kastle.git
	branch = master
[submodule "jaap3/pti-tools"]
	path = pti-tools
	url = https://github.com/jaap3/pti-tools.git
	branch = main
[submodule "eh2k/squares-and-circles"]
	path = squares-and-circles
	url = https://github.com/eh2k/squares-and-circles.git
	branch = main
[submodule "tidalcycles/tidal"]
	path = tidalcycles
	url = https://github.com/tidalcycles/Tidal.git
	branch = main
[submodule "musikinformatik/superdirt/develop"]
	path = superdirt
	url = https://github.com/musikinformatik/SuperDirt.git
	branch = develop
[submodule "tidalcycles/dirt"]
	path = dirt
	url = https://github.com/tidalcycles/Dirt.git
	branch = master
[submodule "thgrund/superdirtmixer"]
	path = superdirtmixer
	url = https://github.com/thgrund/SuperDirtMixer.git
	branch = main
[submodule "thgrund/tidal-looper"]
	path = tidal-looper
	url = https://github.com/thgrund/tidal-looper.git
	branch = master
[submodule "shairosenblit/tidal-sound-explorer"]
	path = tidal-sound-explorer
	url = https://github.com/ShaiRosenblit/tidal-sound-explorer.git
	branch = main
[submodule "hundredrabbits/orca"]
	path = orca
	url = https://github.com/hundredrabbits/Orca.git
	branch = main
[submodule "monome/monome-max-package"]
	path = monome-max-package
	url = https://github.com/monome/monome-max-package.git
	branch = main
[submodule "monome/crow-max-and-m4l"]
	path = monome-crow-max-and-m4l
	url = https://github.com/monome/crow-max-and-m4l.git
	branch = main
[submodule "monome/whitewhale"]
	path = monome-whitewhale
	url = https://github.com/monome/whitewhale.git
	branch = main
[submodule "monome/libavr32"]
	path = monome-libavr32
	url = https://github.com/monome/libavr32.git
	branch = main
[submodule "monome/earthsea"]
	path = monome-earthsea
	url = https://github.com/monome/earthsea.git
	branch = main
[submodule "monome/meadowphysics"]
	path = monome-meadowphysics
	url = https://github.com/monome/meadowphysics.git
	branch = main
[submodule "monome/kria"]
	path = monome-whitewhale-kria
	url = https://github.com/monome/kria.git
	branch = master
[submodule "monome/terms"]
	path = monome-terms
	url = https://github.com/monome/Terms.git
	branch = master
[submodule "yamadapc/augmented-audio"]
	path = augmented-audio
	url = https://github.com/yamadapc/augmented-audio.git
	branch = master
[submodule "jatinchowdhury18/analogtapemodel"]
	path = analog-tape-model
	url = https://github.com/jatinchowdhury18/AnalogTapeModel.git
	branch = master
[submodule "grame-cncm/faust/master-dev"]
	path = faust
	url = https://github.com/grame-cncm/faust.git
	branch = master-dev
[submodule "aubio/aubio"]
	path = aubio
	url = https://github.com/aubio/aubio.git
	branch = master
[submodule "scanner-darkly/orcas-heart"]
	path = orcas-heart
	url = https://github.com/scanner-darkly/orcas-heart.git
	branch = main
[submodule "scanner-darkly/multipass"]
	path = multipass
	url = https://github.com/scanner-darkly/multipass.git
	branch = main
[submodule "monome/dust"]
	path = monome-dust
	url = https://github.com/monome/dust.git
	branch = master
[submodule "bastl-instruments/microgranny"]
	path = microgranny
	url = https://github.com/bastl-instruments/bastlMicroGranny.git
	branch = master
[submodule "mqtthiqs/parasites"]
	path = parasites
	url = https://github.com/mqtthiqs/parasites.git
	branch = master
[submodule "bastl-instruments/eurorack"]
	path = bastl-eurorack
	url = https://github.com/bastl-instruments/eurorack.git
	branch = master
[submodule "pdmeyer/philip-meyer-max-tutorials"]
	path = philip-meyer-max-tutorials
	url = https://github.com/pdmeyer/philip-meyer-max-tutorials.git
	branch = main
[submodule "pdmeyer/rhythm-and-time-toolkit"]
	path = rhythm-and-time-toolkit
	url = https://github.com/pdmeyer/rhythm-and-time-toolkit.git
	branch = main
[submodule "mudlogger/autogen301"]
	path = er-301-pkgs/autogen301
	url = https://github.com/mudlogger/autogen301.git
	branch = main
[submodule "supernicd/accents"]
	path = er-301-pkgs/accents
	url = https://github.com/SuperNiCd/Accents.git
	branch = master
[submodule "tmfset/er-301-custom-units"]
	path = er-301-pkgs/tmfset-custom-units
	url = https://github.com/tmfset/er-301-custom-units.git
	branch = master
[submodule "vult-dsp/vult"]
	path = vult
	url = https://github.com/vult-dsp/vult.git
	branch = master
[submodule "schollz/norns-desktop"]
	path = norns-desktop
	url = https://github.com/schollz/norns-desktop.git
	branch = main
[submodule "supercollider/sc3-plugins"]
	path = supercollider-plugins
	url = https://github.com/supercollider/sc3-plugins.git
	branch = main
[submodule "dcoredump/microdexed"]
	path = microdexed
	url = https://codeberg.org/dcoredump/MicroDexed.git
	branch = master
[submodule "positionhigh/microdexed-touch"]
	path = microdexed-touch
	url = https://codeberg.org/positionhigh/MicroDexed-touch.git
	branch = main
[submodule "dcoredump/synth-dexed"]
	path = synth-dexed
	url = https://codeberg.org/dcoredump/Synth_Dexed.git
	branch = master
[submodule "probonopd/minidexed"]
	path = minidexed
	url = https://github.com/probonopd/MiniDexed.git
	branch = main
[submodule "fluffyaudio/multiversio"]
	path = multiversio
	url = https://github.com/fluffyaudio/MultiVersio.git
	branch = main
[submodule "paulstoffregen/audio"]
	path = teensy-audio-library
	url = https://github.com/PaulStoffregen/Audio.git
	branch = master
[submodule "monome/we"]
	path = monome-we
	url = https://github.com/monome/we.git
	branch = master
[submodule "itsyourbedtime/orca"]
	path = norns/orca
	url = https://github.com/itsyourbedtime/orca.git
	branch = main
[submodule "juce-framework/juce"]
	path = juce
	url = https://github.com/juce-framework/JUCE.git
	branch = master
[submodule "blinkenlights/ascii"]
	path = blinkenlights-ascii-modular
	url = https://github.com/Blinken-Lights/ASCII.git
	branch = main
[submodule "intechstudio/knot"]
	path = knot
	url = https://github.com/intechstudio/knot.git
	branch = main
[submodule "intechstudio/grid-fw"]
	path = intech-grid-firmware
	url = https://github.com/intechstudio/grid-fw.git
	branch = master
[submodule "intechstudio/ottosdiy"]
	path = ottos-diy-eurorack
	url = https://github.com/intechstudio/ottosdiy.git
	branch = master
[submodule "okyeron/omx-27"]
	path = omx-27
	url = https://github.com/okyeron/OMX-27.git
	branch = main
[submodule "okyeron/hachi-ni"]
	path = hachi-ni
	url = https://github.com/okyeron/hachi-ni.git
	branch = main
[submodule "woyten/tune"]
	path = tune-rs
	url = https://github.com/Woyten/tune.git
	branch = master
[submodule "samiperttu/fundsp"]
	path = fundsp-rs
	url = https://github.com/SamiPerttu/fundsp.git
	branch = master
[submodule "plinkysynth/plinky_public"]
	path = plinky
	url = https://github.com/plinkysynth/plinky_public.git
	branch = main
