name: update modules
on:
  workflow_dispatch:
  #schedule:
  #- cron:  '0 * * * *'
  push:
    branches: [main]
concurrency:
  group: update-${{github.ref}}
  cancel-in-progress: true
jobs:
  update-modules:
    name: update all modules
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
        token: ${{secrets.ACCESS_TOKEN}}
    - name: setup git user
      env:
        USER_NAME: "${{ github.actor || 'github-actions[bot]' }}"
        USER_ID: "${{ github.actor_id || '41898282' }}"
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "${USER_ID}+${USER_NAME}@users.noreply.github.com"
        git config --global user.name "${USER_NAME}"
    - name: setup meta repo
      run: |
        export HEADER="$(git config --local --get http.https://github.com/.extraheader)"
        git init .meta
        cd .meta
        git config --local http.https://github.com/.extraheader "$HEADER"
        git config url.https://github.com/.insteadOf git://github.com/
        git remote add origin "${{github.repositoryUrl}}"
        git fetch origin refs/meta/main:refs/meta/main
        git reset --hard refs/meta/main
    - name: setup archive remote
      run: |
        git remote add archive https://github.com/edwardgeorge/audio-resources-archive.git
    - name: download tooling
      env:
        TOOL_VERSION: 0.7.0
      run: |
        curl -LO "https://github.com/edwardgeorge/prob-check-repo/releases/download/v${TOOL_VERSION}/prob-check-repo_v${TOOL_VERSION}_x86_64-unknown-linux-musl.tar.gz"
        mkdir .tools
        tar -xzf "prob-check-repo_v${TOOL_VERSION}_x86_64-unknown-linux-musl.tar.gz" -C .tools
        rm "prob-check-repo_v${TOOL_VERSION}_x86_64-unknown-linux-musl.tar.gz"
        echo "$(pwd)/.tools" >> $GITHUB_PATH
    - name: update modules
      env:
        PUSH_BRANCH: "1"
        CLEAN_UP: "1"
        SEED: "${{ github.run_id }}"
        META_DIR: .meta
      run: |
        ./.github/scripts/update-all.sh
    - name: git status
      run: git status
    - name: push back
      if: ${{ github.ref == 'refs/heads/main' }}
      run: |
        git push origin main
    - name: push back meta
      if: ${{ github.ref == 'refs/heads/main' }}
      working-directory: .meta
      run: |
        git push origin HEAD:refs/meta/main
